html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#view {
    position: relative;
    width: 320px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
}
.slide {
    position: absolute;
    width: 320px;
    height: 240px;
    font-size: 32px;
    /* transitions */
    -webkit-transition-property:         -webkit-transform;
    -moz-transition-property:            -moz-transform;
    -o-transition-property:              -o-transform;
    transition-property:                 transform, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transition-duration:         0.4s;
    -moz-transition-duration:            0.4s;
    -o-transition-duration:              0.4s;
    transition-duration:                 0.4s;
    -webkit-transition-timing-function:  ease;
    -moz-transition-timing-function:     ease;
    -o-transition-timing-function:       ease;
    transition-timing-function:          ease;
}
.slide.prev, .slide.next {
    z-index: 2;
}
.slide.current {
    -webkit-transform:  translate3d(0, 0, 0);
    -moz-transform:     translate3d(0, 0, 0);
    -ms-transform:      translate3d(0, 0, 0);
    -o-transform:       translate3d(0, 0, 0);
    transform:          translate3d(0, 0, 0);
}
.slide.left.prev {
    -webkit-transform:  translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide.right.next {
    -webkit-transform:  translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide.left {
    -webkit-transform:  translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide.right {
    -webkit-transform:  translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
}
