html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
pre {
  font-family: sans-serif;
}
#comment_view {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22%;
  height: 100%;

  margin-left: 20px;
  border: 1px solid black;
  overflow: scroll;
}
#comment {
  width: 100%;
  height: 50%;
  padding: 5px;
}
#input{
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#view {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70%;
    height: 80%;
    border: 1px solid black;

    margin-left: auto;
    margin-right: auto;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    /* transitions */
    /*
    -webkit-transition-property:         -webkit-transform;
    -moz-transition-property:            -moz-transform;
    -o-transition-property:              -o-transform;
    transition-property:                 transform, -webkit-transform, -moz-transform, -o-transform;
    -webkit-transition-duration:         0.4s;
    -moz-transition-duration:            0.4s;
    -o-transition-duration:              0.4s;
    transition-duration:                 0.4s;
    -webkit-transition-timing-function:  ease;
    -moz-transition-timing-function:     ease;
    -o-transition-timing-function:       ease;
    transition-timing-function:          ease;
    */
}
.slide.prev, .slide.next {
    z-index: 2;
}
.slide.current {
    -webkit-transform:  translate3d(0, 0, 0);
    -moz-transform:     translate3d(0, 0, 0);
    -ms-transform:      translate3d(0, 0, 0);
    -o-transform:       translate3d(0, 0, 0);
    transform:          translate3d(0, 0, 0);
}
.slide.left.prev {
    -webkit-transform:  translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(-110%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide.right.next {
    -webkit-transform:  translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(110%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide.left {
    -webkit-transform:  translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(-220%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide.right {
    -webkit-transform:  translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    -moz-transform:     translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    -ms-transform:      translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    -o-transform:       translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
    transform:          translate3d(220%, 0, 0) scale3d(0.8, 0.8, 1);
}
.slide > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide > img{
  width: 100%;
  height: 100%;  
}


.form-toolbar {
  text-align: right;
  margin: 0.2em;
}

#column-container {
  position: absolute;
  top: 17em;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
  margin: 0 2em;
  text-align: center;
}
.column {
  position: absolute;
  height: 100%;
  width: 49%;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.column-half {
  position: absolute;
  height: 55%;
  width: 49%;
  right: 0;
  bottom: 0;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.column-mini {
  position: absolute;
  height: 35%;
  width: 49%;
  top: 0;
  right: 0;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.column-admin {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.view_title {
  background-color: lightgray;
  position: relative;
  top: -2em;
}

.view_title h3 {
  margin: 0;
  padding: 0.5em;
  font-size: 100%;
  line-height: 100%;
  text-align: center;
}

.view {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-left: 1em;
  position: relative;
  top: -2em;
  height: 100%;
}

#new_msg_notification {
    width: 80%;
    margin: 1em auto;
    padding: 0.25em 0.5em;
    background-color: #d7eef4;
    border: 1px solid #37abc8;
    border-radius: 4px;
    font-weight: bold;
    color: #0088aa;
    text-shadow: white 1px 1px;
    text-align: center;
}

.number {
  margin-right: 0.5em;
  color: blue;
  font-weight: bold;
}

.time {
  margin: 0 0.5em;
}

.host {
  margin-left: 0.5em;
  color: silver;
}

.content {
  padding: 0em;
  padding-left: 2em;
}

.content strong {
  color: red;
}


